.text-green {
  color: green;
  font-weight: bold;
  font-size: 140%;
}

.bg-orange {
  background-color: orange;
  padding: 10px;
}

section {
  margin: 50px 0
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.text-center {
  text-align: center;
}

.section-title {
  text-decoration: underline;
}

.text-lg {
  font-size: 200%;
}
